<div class="columns">
  <div class="card column is-2 is-offset-2">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>
      
      <div class="content">
        Lorem ipsum dolor sit amet <a>@bulmaio</a>.
        <a>#css</a> <a>#responsive</a>
        <br>
      </div>
    </div>
  </div>
  
</div>

