  <div class="my-card card column is-3">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
      </figure>
    </div>
    <div class="my-card-content level">
      <div class="my-left-media">
        <figure class="image">
          <%= image_tag ("http://bulma.io/images/placeholders/96x96.png"), alt: "Image", class: "profile-image" %>
        </figure> 
        <div class="user-name" >Ian Tran</div>
      </div>
      <div class="my-number">
        <div class="my-count">
          11
        </div>
        <div class="my-interaction">
          <%= image_tag "heart.png" %>
        </div>
      </div>
      
    </div>
  </div>
  