/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require jquery-ui
*/

@import "branding";
@import "bulma_variables";
@import "bulma";
@import "my_elements";

body, html {
  height: 100%;
  z-index: -2;
  font-family: "Avenir"
}

.navbar {
  z-index: 0;
  background: $blue-dark-bg;
  border-bottom: 3px solid $blue_d;
  min-height: 56px;
  height: 8%;
  align-items: center;

  .navbar-end {
    margin-right: 20px;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 420px;
    a {
      display: flex;
      align-items: center;
      color: white;
      font-weight: bold;
    }
    a.nav-item {
      font-size: 1.125rem;
      margin-left: -20px;
    }
    img {
      max-height: 70%;
    }
  }
  .logo {
    margin-left :20px;
    height: 100%;
    width: auto;
    
  }
}

.all-content {
  border: 10px;
  height: 100%;
  background: $blue-bg;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .content-controller {
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    max-height: 50px;
    min-height: 50px;
    background:$blue-dark-bg;
    max-width: 373px;
    min-width: 300px;
    border: 3px solid $blue_d;
    border-top: 7px;
    border-top: $blue-dark-bg;
    z-index: 2;
    margin-top: 9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .controller-inside {
      display: flex;
      width: 75%;
      min-width: 225px;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .page-content {
    background: $blue-bg;
    height: 100%;
    margin-top: 5%;
    padding-left: 40px;
    padding-right: 40px;
    .all-cards {
      height:100%; 
      flex-flow: row wrap;
      justify-content: space-around;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.mini-divine {
  color: $blue_d;
}


