// Colors
$blue_d: #6BCCD7;
$green_o :#B8E986;
$red_u: #F65F6A;

$blue_bg: #343F6F; 
$blue_dark_bg: #232B54;

$white_color: #F2F9FF;

$black_color: #4A4A4A;

// Font

@font-face {
  font-family: "Avenir";
  src: url("Avenir.ttc");
}

@font-face {
  font-family: "SquareFont";
  src: url('SquareFont.ttf');
}



 
 
