@import "branding";


.my-card {
  min-width: 315px;
  max-width: 400px;
  margin-right: 10px;
  width: auto;
  padding-bottom: 0px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 12px black;
  .my-card-content {
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .my-left-media {
      display: flex;
      flex-direction: row;
      align-items: center;
      img.profile-image {
        width: 35px;
        height: 35px;
        border-radius: 50% !important;
      }
      div.user-name {
        height: 100%;
        line-height: 100%;
        margin-left: 15px;
        font-weight: bold;
        font-size: 1.125rem;
      }
    }

    .my-number {
      display: flex;
      .my-count {
        background: $blue-bg;
        width: 2vw;
        min-width: 35px;
        height: 2vw;
        min-height: 35px;
        color: white;
        font-weight: bold;
        font-size: 1.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        

      }
      .my-interaction {
        background: $blue-bg;
        width: 2vw;
        min-width: 35px;
        height: 2vw;
        min-height: 35px;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 60%;
          height: auto;
        }
      }
    }
  }
  
}